#badgeList {
background: gray;
}

.clear {
clear: both;
}

.test-badge-box {width: 200px;height: 200px;margin: 10px;background: white;float: left;}

.sprite {display: inline-block;background-image: url('/assets/img/badge-proto3.png');transform: scale(.62);}

.sprite:hover {
filter: grayscale(100%) brightness(20%);
}

.sprite-disabled {
filter: grayscale(100%) brightness(20%);
}

#noob-1{height: 200px;width:143px;background-position: -72px -50px;}

#noob-2{height: 200px;width:180px;background-position: -304px -60px;}

#noob-3{height: 200px;width:187px;background-position: -554px -65px;}

#noob-4{height: 218px;width:193px;background-position: -802px -57px;}

#Login1{height: 195px;width:149px;background-position: -70px -300px;}

#Login10{height: 198px;width:182px;background-position: -303px -311px;}

#Login50{height: 199px;width:183px;background-position: -558px -312px;}

#Login1000{
  height:204px;
  width:186px;
  background-position: -806px -310px;
}

#MovieNight{height: 187px;width:180px;background-position: -53px -553px;}

#MovieNight1{height: 200px;width:174px;background-position: -309px -563px;}

#MovieNight10{height: 200px;width:185px;background-position: -555px -562px;}

#MovieNight1000{
  height:210px;
  width:187px;
  background-position: -805px -559px;
}

#Seen1{height: 200px;width:149px;background-position: -68px -812px;}

#Seen10{height: 200px;width:178px;background-position: -305px -814px;}

#Seen50{height: 200px;width:181px;background-position: -558px -816px;}

#Seen{
  height:210px;
  width:185px;
  background-position: -807px -811px;
}


#launchPad-1{
  height:150px;
  width:144px;
  background-position: -71px -1091px;
}

#launchPad-2{
  height:177px;
  width:178px;
  background-position: -306px -1084px;
}

#launchPad-3{
  height:176px;
  width:182px;
  background-position: -556px -1086px;
}

#LaunchPad1{
  height:208px;
  width:186px;
  background-position: -806px -1064px;
}

#TrophyHunter1{
  height:150px;
  width:145px;
  background-position: -71px -1343px;
}

#TrophyHunter2{
height:177px;
width:178px;
background-position: -306px -1337px;
}

#TrophyHunter15{
height:175px;
width:182px;
background-position: -559px -1339px;
}

#TrophyHunter32{
height:207px;
width:184px;
background-position: -806px -1316px;
}


#Horror1{
height:150px;
width:145px;
background-position: -71px -1598px;
}

#Horror10{
height:175px;
width:179px;
background-position: -307px -1589px;
}

#Horror50{
height:178px;
width:184px;
background-position: -556px -1589px;
}

#Horror4{
height:209px;
width:187px;
background-position: -805px -1569px;
}

#Action1{
height:152px;
width:146px;
background-position: -71px -2097px;
}

#Action10{
height:151px;
width:148px;
background-position: -70px -1844px;
}

#Action50{
height:178px;
width:182px;
background-position: -557px -2092px;
}

#Action4{
height:209px;
width:187px;
background-position: -806px -2072px;
}

#Drama1{
height:152px;
width:146px;
background-position: -71px -1845px;
}

#Drama10{
height:177px;
width:180px;
background-position: -305px -1841px;
}

#Drama50{
height:178px;
width:180px;
background-position: -559px -1840px;
}

#Drama4{
height:209px;
width:187px;
background-position: -805px -1821px;
}


#Dislike1{
height:149px;
width:148px;
background-position: -69px -2352px;
}

#Dislike10{
height:177px;
width:175px;
background-position: -308px -2345px;
}

#Dislike50{
  height:177px;
  width:180px;
  background-position: -559px -2346px;
}

#Dislike4{
  height:209px;
  width:187px;
  background-position: -806px -2326px;
}

#Like1 {height: 200px;width:147px;background-position: -70px -2577px;}

#Like10{height: 200px;width:179px;background-position: -306px -2579px;}

#Like50{height: 200px;width:187px;background-position: -555px -2580px;}

#Like4{
  height:209px;
  width:187px;
  background-position: -806px -2577px;
}

#Lightning1 {height: 200px;width:147px;background-position: -70px -2573px;}

#Lightning10{height: 200px;width:179px;background-position: -306px -2587px;}

#Lightning50{height: 200px;width:187px;background-position: -555px -2588px;}

#Lightning100{
  height:209px;
  width:187px;
  background-position: -806px -2577px;
}