body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #333333;
}

a:link {
  color: inherit;
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

.welcome {
  padding: 2em;
  text-align: left;
  margin-bottom: 0;
}

.welcome-footer {
  margin-top: 2em;
}

.timer-counter {

}

.timer-counter h2 {

}

.trailer {
  margin-top: 15px;
}

.header {
  overflow: auto;
  padding: 0.5em 1em;
  color: white;
  background: linear-gradient(to bottom, #606060 , #444444);
}

.header .link {
  margin-left: 1em;
}

.header-icon {
  /* size the hamburger */
}

.poster {
  max-height: 475px;
  max-width: auto;
}

.poster-small {
  max-height: 180px;
  max-width: auto;
}

.oauth-button {
  width: 200px;
  height: auto;
}

.results-tile-bar { 
  background-color: #111314;
  bottom: 0;
  position: absolute;
  min-height: 220px;
  padding: 0 25px;
}

.small-movie-tile {
  /*margin-left: 15px;*/
  padding: 10px;
  max-height: 200px;
  overflow: auto;
}

.small-movie-tile:hover {
  background: #3f3f3f;
}

.results {
  max-height: 100%;
}

.user-photo {
  max-height: 3em; 
  max-width: 3em;
}