body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #333333;
  height: 100%;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/************* WELCOME PAGE **************/

.welcome {
  margin-top: 10vh;

  min-height: 450px;
  text-align: left;
  background: #444444;
}

.welcome-footer {
  margin-top: 2em;
}

.welcome-title {
  font-family: 'Open Sans';
}

.flick-iq {
  animation: anim 1s 1 ease-out;
  color: #2ecc71;
}

@keyframes anim {
    from {color: white;}
    to {color: #2ecc71;}
}

/************* LIGHTNING PAGE **************/

.timer-counter {

}

.timer-counter h2 {

}

/************* RESULTS PAGE **************/

.trailer {
  margin-top: 15px;
}

.results-body {
  height: 50vh;
  overflow-y: scroll;
}

.results-tile-bar { 
  background-color: #111314;
  bottom: 0;
  position: absolute;
  height: 37vh;
  padding: 0 10px;
  left: 0;
}

.small-movie-tile {
  padding: 10px;
  text-align: center;
}

.small-movie-tile:hover {
  background: #3f3f3f;
}

.results {
  max-height: 100%;
}

/************* NAVBAR **************/

.header {
  /*background: linear-gradient(to bottom, #606060 , #444444);*/
}

.header-icon {
  /* size the hamburger */
  min-height:  50px;
  line-height: 50px;
}

.navbar a:focus {
  background-color: black;
}

.poster {
  max-height: auto;
  max-width: 100%;
}

.poster-small {
  display: block;
  margin: auto;
  height: 200px;
  width: 175px;
}

/*.oauth-button {
  width: 200px;
  height: auto;
}*/

/************* SMALL MOVIE TILES **************/

.small-tile-button {
  margin: 1em 0;
  background: #2980B9;
  border: 0px;
  color: white;
}

.small-tile-button:hover,
.small-tile-button:focus,
.small-tile-button:active {
  background: #2275ad;
  color: white;
  border: 0px;
  outline: transparent;
}

.small-movie-tile-title {
  height: 2.5em;
}

.like-buttons {
  text-align: center;
}

/************* SEARCH BOX **************/

.search-table {
  height: 78vh;
  overflow-y: scroll;
}

.like-buttons {
  text-align: center;
}

/************* SEARCH BOX **************/

.search-table {
  height: 78vh;
  overflow-y: scroll;
}

/************* QUOTE BOX **************/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes slideleft {
  0% {
    left: -2000px;
  }

  100% {
    left: 0px;
  }
}

.quote-box-invisible {
  opacity: 0;
}

.quote-box-visible {
  opacity: 1;
  transition: 1s;
}

.author {
  margin-left: 50px;
}

/* USER INFO */

.user-photo {
  max-height: 3em; 
  max-width: 3em;
}

/************* LAUNCHPAD **************/

/* TAGS */
.tag {
  color: black;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  float: left;
  background: white;
}