body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #333333;
}

a:link {
  color: inherit;
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

.welcome {
  padding: 2em;
  text-align: left;
  margin-bottom: 0;
}

.welcome-footer {
  margin-top: 2em;
}

.header {
  overflow: auto;
  padding: 0.5em 1em;
  color: white;
  background: linear-gradient(to bottom, #606060 , #444444);
}

.header .link {
  margin-left: 1em;
}

.header-icon {
  /* size the hamburger */
}

.poster {
  max-height: 100%;
  max-width: 100%;
}

.oauth-button {
  width: 200px;
  height: auto;
}

.small-movie-tile {
  max-height: 200px;
  overflow: auto;
  /*height: 150px;*/
  border-radius: 5px;
  border: 1px solid black;
}

.results-tile-bar {

}

.user-photo {
  max-height: 3em; 
  max-width: 3em;
}